<div class="row"> 
	<div class="span10 offset1 centered"> 

		<h1> Books of <%= @legend.name %> </h1> 
		<h3> <%= link_to "Add another book to this reading list", new_legend_book_path %> </h3> 
		<br>

		<% @books.each do |book| %> 
			<div class="box">
				<a href="<%= book.link %>" target="_blank"> 
				<img src="<%= book.image %>" width="300" height="300" /> </a> 
				<h5> <%= book.title %> </h5> 
				<p> <%= book.description %> </p> 
				<a href="<%= book.link %>" target="_blank"> Amazon Link </a> <br> 

				<%= link_to "Edit", edit_legend_book_path(@legend, book) %> 
				<%= link_to "Destroy", legend_book_path(@legend, book), method: :delete, data: { confirm: "Delete? Really?" } %>
			</div> 

		<% end %> 

	</div>
</div>