<div class="row">
	<div class="span8 offset2 centered">
		<div class="edit_form_for_legends">

			<%= form_for(@legend) do |f| %> 
					<%= f.label :name %> 
					<%= f.text_field :name %>

					<%= f.label :description %> 
					<%= f.text_area :description %> 

					<%= f.label :image, "Image-Link" %> 			
					<%= f.text_field :image %>  <br> <br>

					<%= f.submit "Submit", class: "btn btn-medium btn-warning" %> 
			<% end %>

		</div>
	</div>
</div>