<div class="row"> 
	<div class="span10 offset1 centered"> 

		<h1> Content Mgmt Area :) </h1>
		<h2> <%= link_to "Add Legend", new_legend_path %> </h2>
		<h2> or manage existing ones: </h2> <br> <br>

		<% @legends.each do |legend| %> 

			<div class="box legend_box">
				<a href="<%= legend_books_path(legend) %>">	
				<img src= "<%= legend.image %>" width="300" height="300" /> </a> <br>  
				<h4> <%= link_to "Edit", edit_legend_path(legend) %> </h4>  
				<h4> <%= link_to 'Destroy', legend, method: :delete, data: { confirm: 'Delete this Legend?' } %> </h4>  
				<br>
			</div> 

		<% end %> 

	</div> 
</div> 

