
<div class="row">
	<div class="span10 offset1 centered">

		<h1> Books recommended by <%= @legend.name %> </h1> <br> <br>

		<% @books.each do |book| %>

			<div class="legend_on_first_page">
				<a href="<%= book.link %>" target="_blank">
				<img src="<%= book.image %>" width="200" height="200" /> </a>
				<h3> <%= book.title %> </h3> 
				<p> <%= book.description %> </p> 
				<a href="<%= book.link %>" target="_blank"> Amazon Link </a> <br>
			</div>

		<% end %> 

	</div> 
</div> 