
<div class="row">
	<div class="span10 offset1">

		<h1> Books recommended by <%= @legend.name %> </h1> <br> <br>

		<% @books.each do |book| %>

			<div class="book_picture">
				<a href="<%= book.link %>" target="_blank">
					<img src="<%= book.image %>" width="160" height="120" />  
				</a> <br>
				<a href="<%= book.link %>" target="_blank"> Amazon Link </a> 	
			</div>
			<div class="book_description">
				<h3> <%= book.title %> </h3> 
				<p> <%= book.description %> </p> 
			</div> <br>

		<% end %> 

	</div> 
</div> 