
<div class="row">
	<div class="span10 offset1 black_background">

			<div class="legend_picture centered">
				<img src="<%= @legend.image %>" width="500" height="500" /> 
			</div> 

		<h1 class="centered"> Books recommended by <%= @legend.name %> </h1> <br>


			<% @books.each do |book| %>
				<div class="book_picture">
					<a href="<%= book.link %>" target="_blank">
						<img src="<%= book.image %>" width="160" height="120" />  
					</a> <br>
					<a href="<%= book.link %>" target="_blank"> Amazon Link </a> 	
				</div>
				<div class="book_description">
					<a href="<%= book.link %>" target="_blank">
					<h3> <%= book.title %> </h3> </a> 
					<p> <%= book.description %> </p> 
				</div> <br>
			<% end %> 


	</div> 
</div> 