<% provide(:tab_title, "Booklist") %> 

<div class="row">
	<div class="span10 offset1 booklist">

		<div class="booklist_intro">
			<img src="<%= @legend.image %>" width="500" height="auto" /> 
			<h1> Books recommended by <%= @legend.name %> </h1> 
		</div> 
	
		
		<div class="booklist_body">
			<% @books.each do |book| %>
				<div class="book_picture">
					<a href="<%= book.link %>" target="_blank">
						<img src="<%= book.image %>" width="160" height="120" />  
					</a> <br>
					<a href="<%= book.link %>" target="_blank"> Amazon Link </a> 	
				</div>
				<div class="book_description">
					<a href="<%= book.link %>" target="_blank">
					<h3> <%= book.title %> </h3> </a> 
					<p> <%= book.description %> </p> 
				</div>
			<% end %> 
		</div> 

		<div class="booklist_side_bar">
			<h3> More reading <br> lists </h3> <br>
			<% @legends.each do |legend| %> 
			<p> <%= legend.name %> </p> 
			<a href="<%= legend_path(legend) %>"> 
				<img src="<%= legend.image %>" width="60%" height="auto" />  
			</a> 
			<% end %> <br> 
			<%= will_paginate :page_links => false %>
		</div> 
	
	</div> 
</div> 
