
<div class="row">
	<div class="span10 offset1 test">

		<h1 class="centered"> Books recommended by <%= @legend.name %> </h1> <br> <br>

		<div class="span7">

			<% @books.each do |book| %>
				<div class="book_picture">
					<a href="<%= book.link %>" target="_blank">
						<img src="<%= book.image %>" width="160" height="120" />  
					</a> <br>
					<a href="<%= book.link %>" target="_blank"> Amazon Link </a> 	
				</div>
				<div class="book_description">
					<a href="<%= book.link %>" target="_blank">
					<h3> <%= book.title %> </h3> </a> 
					<p> <%= book.description %> </p> 
				</div> <br>
			<% end %> 

		</div> 

		<div class="span2">
			<div class="box legend_box">
				<img src="<%= @legend.image %>" width="300" height="300" /> 
				<p> <%= @legend.name %> <p> 
				<p> <%= @legend.description %> <p> 
			</div> 
		</div> 


	</div> 
</div> 