<% @legends.each do |legend| %> 
	
		<div class="box">
			<a href="<%= legend_path(legend) %>">
			<img src= "<%= legend.image %>" width="320" height="240" /> </a>
			<h4> <%= legend.name %> </h4>
			<p> <%= legend.description %> </p>
			<h5> <%= link_to "Reading List", legend_path(legend) %> 
		</div>
	
<% end %> 

